.main .split {
  height: 55vh;
}

.main .heading {
  height: 10vh;
}

.grommetux-split__column {
  height: 55vh !important;
  width: 30%;
}

.grommetux-list--selectable {
  height: inherit;
}

.main ul{
  overflow: auto;
  overflow-x: hidden;
}

.main .selectorPanel {
  border-color: black;
  border-style: solid;
  border-bottom: none;
  border-radius: 1px;
  height: 54vh;
}

.main .commands {
  border-color: black;
  border-right: solid;
  border-top: solid;
  border-radius: 1px;
  height: 54vh;
}

.main .console {
  border-color: black;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-radius: 1px;
  height: 34vh;
}

.main .console ul {
  height: 100%;
  width: 100%;
  overflow: auto;
  max-height: 100%;
}
